<!DOCTYPE html>
<html lang="en">
    {% load static %}
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'recipes/css/list.css' %}?v={{ STATIC_VERSION }}">
    <title>Recipe List</title>
</head>

<body>
    <div class="container">
    <h1>Recipes List</h1>
    <nav>
        <ul class="navigation">
            <li><a href="{%url 'logout' %}">Logout</a></li>
        </ul>
    </nav>
    <table border="1" cellpadding="5" cellspacing="5">
        <tr>
            <td style="font-size: 30px;"> Recipe Title</td>

            <td style="font-size: 30px;"> Recipe Image</td>
        </tr>
        {% for object in object_list %}
        <tr>
            <td><a href="{{object.get_absolute_url}}">
                    {{object.name}}
                </a></td>
            <td><img src="{{object.pic.url}}" width="150" height="200" /> </td>
        </tr>
        {% endfor %}
    </table>
    </div>
</body>

</html>