<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'recipes/css/recipes_home.css' %}?v={{ STATIC_VERSION }}">
    <script src="{% static 'recipes/js/home.js' %}"></script>
    <title>Recipes Home Page</title>
</head>


<body>
    <h1>
        Welcome to your Recipes
    </h1>
    <nav>
        <ul class="navigation">
            <li><a href="{%url 'login' %}">Login</a></li>
        </ul>
    </nav>

    <div class="welcome-pic">
        <img src="{% static 'recipes/images/welcomepage.jpg' %}" alt="recipes_home" width="1500" height="600">
    </div>
</body>

</html>