body {
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

.recipe-name {
    color: black;
    text-decoration: none;
}

.recipe-name:hover {
    text-decoration: underline;
}

.recipe-name:visited {
    color: black;
}

/* Table styles */
table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color:#64c9e5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

table td,
table th {
    padding: 8px;
    text-align: center;
    font-weight: bold;
}

table img {
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}
